
.containerSlider {
  max-width: 1000px;
  margin: 0 auto;
}

.mySwiper {
  width: 100%;
  /*height: 70vw;*/
  max-height: 400px;
  border-radius: 10px;
}

.swiper-slide {
  position: relative;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --swiper-theme-color: #c52754 !important;
}