.navbar {
  background: rgb(0,0,0,.5);
  /* box-shadow: 0px 2px 4px rgba(5, 9, 8, 0.8); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  color: white;
  /*position: relative;*/
}
  


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.logo a{
  transition: color 0.2s;
}
.logo a:hover {
  color: lightgray;
}
.logoText {
  font-size: 1.9rem;
}
.logoText span{
  color: #c52754;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  align-items: center;
}

.navItem {
  font-size: 1.1rem;
  font-weight: 500;
}

.navItem a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.navItem a:hover {
  color: #c52754;
}

.signInButton {
  background-color: transparent;
  border: 2px solid #c52754;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.signInButton:hover {
  background-color: #c52754;
  color: #fff;
  border-color: #c52754;
}
